<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances</title>
</head>

<body>
    <header
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>

                <li>
                    <a href="{% url 'account_list' %}">Accounts</a>
                </li>

                <li>
                    <a href="{% url 'account_new' %}">Create an Account</a>
                </li>

                <li>
                    <a href="{% url 'expense_list' %}">Expenses</a>
                </li>

                <li>
                    <a href="{% url 'expense_new' %}">Create an Category</a>
                </li>

                <li>
                    <a href="{% url 'home' %}">Receipts</a>
                </li>

                <li>
                    <a href="{% url 'receipt_new' %}">Create a Receipt</a>
                </li>

                {% else %}

                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
</body>
{% block content %}

{% endblock content %}


</html>