{% extends 'base.html' %}

{% block content %}


<table>
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
        {% for receipt in receipt_list %}
        <thead>
            <tr>
                <td>{{ receipt.vendor }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.date }}</td>
                <td>{{ receipt.category }}</td>
                <td>{{ receipt.account }}</td>
        {% endfor %}
            </tr>
        </thead>
    </thead>
</table>


{% endblock content %}