{% extends 'base.html' %}

{% block content %}


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            {% for category in expensecategory_list %}
            <thead>
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
            </thead>
            {% endfor %}
        </thead>
    </table>

{% endblock content %}